<div class="container">
  <form>
    <div>
      <label>Id</label>
      <input type="text" disabled>
    </div>

    <div>
      <label>Author</label>
      <input type="text">
    </div>

    <div>
      <label>Musica</label>
      <input type="text">
    </div>

    <button> Criar </button>
  </form>

  <table>
    <thead>
      <th> Id </th>
      <th> Author </th>
      <th> Musica </th>
      <th> ... </th>
    </thead>

    <tbody>
      <tr>
        <td> 1 </td>
        <td> Guns 'N Roses</td>
        <td> November Rain</td>
        <td>
        </td>
      </tr>

    </tbody>
  </table>
</div>